<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login Karyawan</title>
		<link rel="stylesheet" type="text/css" href="assets/login.css">
    	<link rel="shortcut icon" href="img/icon64.png" type="image/png">

	</head>
	<body>
		<div class="login-form">
			<h1>Silahkan Login Karyawan</h1>
			
			<form action="/authKaryawan" method="POST">
				<input type="text" name="username" value="" placeholder="Username">
				<input type="password" name="password" value="" placeholder="Password">
				<input type="submit" value="Login">
			</form>
		</div>

	</body>
</html>